* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Bellota Text', 'Verdana', Arial, sans-serif;
}

/* Color scheme sourced from https://www.color-hex.com/color-palette/107368 70s colors color palette */
:root {
  --colora: #00a0d9;
  --colorb: #b800a6;
  --colorc: #68a549;
  --colord: #ff4ea6;
  --colore: #fdcd00;
}

body {
  font-size: 16px;
  line-height: 1;
}
  
.header {
  padding: 0px;
  background-color: var(--colord);
  color: var(--colora);
  /* position: fixed; */
  width: 100%;
}

.header h1 {
  display: inline-block;
  font-family: 'Ink Free', sans-serif;
  font-size: 60px;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

h3 {
  text-align: left;
  margin: 5px;
  padding: 10px;
  color: var(--colore);
  font-size: 20px;
  font-style: italic;
}









.calendar {
  margin-right: 20px;
  padding: 30px;
  float: right;
  /* width: 40%; */
  justify-content: left;
  /* height: 500px; */
  background-color: var(--colorc);
}

.map {
  margin: 20px;
  padding: 30px;
  float: right;
  width: 40%;
  justify-content: left;
  /* height: 500px; */
  background-color: var(--colorc);
}

#month-grid {
  justify-content: center;
  margin: 15px;
  padding: 15px;
  height: 25%;
  width: 25%;
}

.footer {
  padding: 30px;
  clear: both;
  text-align: center;
}