*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Color scheme sourced from https://www.color-hex.com/color-palette/107368 70s colors color palette */
:root {
  --colorBlue: #00ffff;
  --colorPurple: #b800a6;
  --colorGreen: #68a549;
  --colorPink: #ff4ea6;
  --colorYellow: #fdcd00;
}

html,
body {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.header-container {
  flex: 0 1 auto;
  color: var(--colorBlue);
}
.page-content {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}
.footer-container {
  flex: 0 1 auto;
  background-color: var(--colorPink);
  color: var(--colorBlue);
  font-size: 32px;
  text-align: center;
  padding: 16px;
  font-family: "Ink Free", sans-serif;
}

.header {
  padding: 0px;
  background-color: var(--colorPink);
  color: var(--colorBlue);

  /* position: fixed; */
  height: 250px;

  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
}

.header h1 {
  font-family: "Ink Free", sans-serif;
  font-size: 60px;
}

header li a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in;
}

header li a:hover {
  color: black;
  transition: all 0.5s ease-in;
}

header li a i {
  color: yellow;
  margin-top: 16px;
  font-size: 32px;
}

#header-icon {
  color: black;
}

.header nav {
  display: flex;
  padding-top: 50px;
  padding-right: 40px;
  margin-right: 20px;
  font-size: 20px;
}

#page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  color: var(--colorBlue);
}

.topnav {
  display: flex;
  padding-left: 20px;
  color: var(--colorBlue);
  justify-content: center;
  width: 100%;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.upcoming-events {
  width: 100%;
  padding: 16px;

  bottom: 10px;
  height: 250px;

  background-color: var(--colorBlue);
  color: var(--colorPurple);
}

#left,
#right {
  width: 48%;
}

.search-container,
.results-container,
.calendar-container {
  background-color: var(--colorPink);
  margin: 8px;
  padding: 8px;
}

.calendar-container {
  background-color: var(--colorGreen);
}

.search-container button:hover {
  color: black;
  transition: all 0.5s ease-in;
  font-size: 24px;
}
.search-container h2,
.results-container h2,
.calendar-container h2 {
  font-size: 24px;
  color: var(--colorBlue);
  font-family: "Ink Free", sans-serif;
}

.results-container1 {
  display: flex;
  font-size: 24;
  border: 5px, solid, black;
  background-color: white;
}

.results-container-2 {
  display: flex;
  font-size: 24;
  border: 5px, solid, black;
  background-color: white;
}

.results-container-3 {
  display: flex;
  font-size: 24;
  border: 5px, solid, black;
  background-color: white;
}

.results-container-4 {
  display: flex;
  font-size: 24;
  border: 5px, solid, black;
  background-color: white;
}
.input {
  width: 100%;
  border: none;
  margin: 4px 0;
  padding: 4px;
  font-size: 16px;
}

/* #search-result1-name,
#search-result1-price,
#search-result1-date,
#search-result2-name,
#search-result2-price,
#search-result2-date,
#search-result3-name,
#search-result3-price,
#search-result3-date,
#search-result4-name,
#search-result4-price,
#search-result4-date {
  display: none;
} */

.results-container-returned {
  display: none;
  background-color: var(--colorPink);
  margin: 8px;
  padding: 8px;
}

.map-container {
  display: flex;
  padding: 8px;
  width: 100%;
}
.search-result1 {
  border: 4px, solid, white;
}
