*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Color scheme sourced from https://www.color-hex.com/color-palette/107368 70s colors color palette */
:root {
  --colorBlue: #00a0d9;
  --colorPurple: #b800a6;
  --colorGreen: #68a549;
  --colorPink: #ff4ea6;
  --colorYellow: #fdcd00;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.btn {
  font-size: 20px;
  border: 15px solid var(--colorBlue);
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--colorBlue);
}

.header {
  padding: 0px;
  background-color: var(--colorPink);
  color: var(--colorBlue);
  /* position: fixed; */
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
}

.header-container {
  padding: 0px;
  /* background-color: var(--colord); */
  color: var(--colorBlue);
  /* position: fixed; */
  height: 100%;
}

.header h1 {
  font-family: "Ink Free", sans-serif;
  font-size: 60px;
}

header li a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in;
}

header li a:hover {
  color: black;
  transition: all 0.5s ease-in;
}

header li a i {
  color: yellow;
  margin-top: 16px;
  font-size: 32px;
}

#header-icon {
  color: black;
}

.header nav {
  display: flex;
  padding-top: 50px;
  padding-right: 40px;
  margin-right: 20px;
  font-size: 20px;
}

#page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  color: #00ffff;
}

.topnav {
  display: flex;
  padding-left: 20px;
  color: var(--colorBlue);
  justify-content: center;
  width: 100%;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.calendar,
.map {
  width: 22%;
  margin-bottom: 20px;
  margin-left: 15px;
  padding: 15px;
  float: right;
  height: 500px;
  background-color: var(--colorGreen);
  color: var(--colorYellow);
}

.calendar h2,
.map h2 {
  font-size: 36px;
}

.search-box {
  width: 15%;
  margin-bottom: 20px;
  margin-right: 15px;
  padding: 15px;
  float: left;
  height: 500px;
  background-color: var(--colorYellow);
  color: var(--colorGreen);
}

.search-results {
  width: 37%;
  margin-bottom: 20px;
  margin-right: 15px;
  padding: 15px;
  float: left;
  height: 500px;
  background-color: var(--colorYellow);
  color: var(--colorGreen);
}

/* Code for dropdown music genre choices: */
.dropbtn {
  background-color: var(--colorBlue);
  color: var(--colorPink);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--colorBlue);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  color: var(--colorPink);
  font-style: italic;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.upcoming-events {
  width: 100%;
  padding: 16px;
  bottom: 10px;
  height: 250px;
  background-color: var(--colorBlue);
  color: var(--colorPurple);
}

.footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  clear: both;
}
